body {
    background-color: white;
    margin: 5px;
    font-size: 17px;
    font-family: Calibri, serif;
}


.main_menu {
    justify-content: center;
    text-decoration: none;
    display: flex;
    list-style: none;

}

.main_nav_links {
    list-style: none;
    display: flex;
}

.nav_link {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 24px;
    color: black;
}

.nav_link a {
    color: black;
    text-decoration: none;
}

.nav_link a {
    text-decoration: none;
}

.h1_Lesley {
    text-align: center;
    color: black;
    padding-bottom: 20px;

}

.Les_image1 {
    float: left;
    margin: 10px;
    width: 25%;

}

.h2_Lesley {
    text-align: left;
    padding-right: 26%;
    padding-left: 26%;
}

/*.description {*/
/*    text-align: left;*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*}*/


.Les_image2 {
    float: right;
    margin: 10px;
    width: 25%;
}

.description2 {
    display: flex;
    flex-direction: column;
    /*width: 45%;*/
    border: solid 2px black;
    width: 855px;
    /*max 862px*/
    padding: 20px;
    border-radius: 12px;
}

.Les_image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    padding-top: 10px;
}